

/* 1. Header Superior (Estático) */
#main-header {
background-color: #ffffff;
border-bottom: 1px solid #e1e1e1;
padding: 10px 0;
width: 100%;
z-content: 100; /* Asegura que esté arriba */
}

/* Contenedor flex para logo a la izq y nav a la der */
.header-content {
     padding-left: 20px;
     padding-right: 20px;
}

/* Enlaces del Nav Global (Derecha) */
.top-nav-right-global {
    display: flex;
    gap: 20px;
}

.top-nav-right-global a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.top-nav-right-global a:hover {
    color: #0067b8;
}




/* 2. Navbar Sticky (Seccional) */
#sticky-page-nav {
background-color: black;
padding: 2px 0;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
z-index: 99; /* Justo debajo del header principal si coinciden */
padding-inline-start:6px;
}

/* Usamos la clase nativa de Bootstrap .sticky-top en el HTML,
 p ero aseguramos que funcione bien */                                 *
 .sticky-top {
     top: 0; /* Se pega al tope de la ventana */
 }

 .sticky-nav-links {
     list-style: none;
     gap: 60px;
 }

 .sticky-nav-links a {
     text-decoration: none;
     color: #ffffff; /* Texto blanco sobre fondo negro */
     font-weight: 450;
     font-size: 11px;
     text-transform: uppercase;
     letter-spacing: 1px;
     transition: opacity 0.2s ease;
 }

 .sticky-nav-links a:hover {
     opacity: 0.8;
     color: orange;
     text-decoration: solid;
     font-style: italic;
     font-family: Arial, Helvetica, sans-serif;
 }

 :target::before {
     content: "";
     display: block;
     height: 60px; /* Altura del navbar sticky + un poco de margen */
     margin-top: -60px;
     visibility: hidden;
     pointer-events: none;
 }
                                            *
  html {
      scroll-padding-top: 60px; /* Altura del navbar sticky */
      scroll-behavior: smooth; /* Scroll suave opcional */
  }

  footer {
      height: 10vh;
      background-color: #f2f2f2;
      padding: 1% 4%; display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 1px solid #ddd; }

  .footer-superior {
      display: flex;
      justify-content: flex-start;
      align-items: center; gap: 30px;
      padding-bottom: 1%;
      /*border-bottom: 1px solid #ccc;*/
      height: 35%; }

  .btn-explorar { background-color: #e5e5e5;
      color: #000; padding: 6px 15px;
      border: none; font-weight: 600;
      font-size: 12px; border-radius: 4px;
      cursor: pointer; display: flex;
      align-items: center;
      gap: 8px; }

  .btn-explorar:hover { background-color: #d4d4d4; }

  .redes-sociales { display: flex;
      gap: 15px; }

  .icono-red { display: block;
      width: 20px;
      height: 20px; }

  .icono-red svg { width: 100%;
      height: 100%;
      fill: #000;
      transition: fill 0.3s; }

  .icono-red:hover svg { fill: #555; }
